body {
  margin: 0;
  padding: 0;
}
img{
	max-width:100%;
}
.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.image1Size {
  height: 500px;
  width: 500px;
}

.image2Size {
  height: 200px;
  width: 200px;
}

.hero {
  display: grid;
  position: relative;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  place-items: center;
  overflow: hidden;
  animation: clip-hero-anim 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98);
  will-change: clip-path;
}
.hero__bg,
.hero__cnt {
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
}
.hero__bg {
  display: grid;
  position: relative;
  z-index: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  animation: fade-in 0.75s linear;
  will-change: opacity;
}
.hero__bg::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  top: -10%;
  right: -10%;
  bottom: -10%;
  left: -10%;
  background: rgba(78, 78, 78, 0.4);
  background-blend-mode: screen;
}
.hero__bg picture {
  display: flex;
  height: 100vh;
  width: 100vw;
  animation: scaling-hero-anim 4s 0.25s cubic-bezier(0, 0.71, 0.4, 0.97)
    forwards;
  will-change: transform;
}
.hero__bg img {
  display: block;
  object-fit: cover;
  object-position: 77% 50%;
  height: auto;
  width: 100%;
}
.hero__cnt {
  display: grid;
  position: relative;
  place-items: center;
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  animation: fade-in 0.75s 1.5s linear forwards;
}
.hero__cnt svg {
  height: 12vw;
}
.hero__cnt svg path {
  fill: #fff;
}

.hero__cnt p {
  margin-bottom: 0t;
  font-size: 4em !important;
  text-transform: capitalize !important;
  font-family: 'Sora', sans-serif !important;
}

.hero__cnt p.custodians {
  font-size: 2.5em !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaling-hero-anim {
  from {
    transform: scale(1.25);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes clip-hero-anim {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
