.navbar {
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
  padding-left: 10%;
}
.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.moveIcon {
  margin-left: 55%;
}

.navbar a:hover {
  background-color: #000;
}
